{% extends "base.html" %}

{% load static %}

{% block css%}{% static 'todolistnew/css/line.css' %}{% endblock css%}

{% block addtodo%}
 <form class="form-inline mt-2 mt-md-0" method="POST" action="">
          {% csrf_token %}
          <input class="form-control mr-sm-2" type="text" placeholder="todo" aria-label="Search" name="todo">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">add</button>
 </form>
{% endblock addtodo%}

{% block content %}

 <br>
    <table class="table table-hover">
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">todo</th>
      <th scope="col">edit</th>
      <th scope="col">finish</th>
      <th scope="col">delete</th>
    </tr>
</thead>
  <tbody class="no-underline">
 
    {% for Todolist in all_items %}
      {% if Todolist.finish %}
        <tr class="table-dark">
          <th scope="row" class="text-dark">{{forloop.counter}}</th>
          <td class="text-dark" id="line-through">{{Todolist.title}}</td>
          <td><a class="text-secondary" href="#">warn</a></td>
          <td>
            <form method="POST" action="{% url 'finish' Todolist.id %}">
              {% csrf_token %}
              <input name="status" type="hidden" value="unfinish" >
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0">unsave</button>
            </form>
          </td>
          <td>
        
              <button data-toggle="modal" data-target="#exampleModal" type="button" class="btn btn-outline-success my-2 my-sm-0" >delete</button>
 
            
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">please confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete?   {{Todolist.title}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">unsave</button>
                    <form method="POST" action={% url 'delete' Todolist.id %}">
                      {% csrf_token %}
                       <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
 
      {% else %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{Todolist.title}}</td>
          <td> <a class="text-info" href="{% url 'newedit' Todolist.id %}">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">edit</button>
          </a></td>
          <td>
            <form method="POST" action="{% url 'finish' Todolist.id %}">
              {% csrf_token %}
              <input name="status" type="hidden" value="finished" >
              <button type="submit" class="btn btn-outline-success my-2 my-sm-0">finish</button>
            </form>
          </td>
          <td>
              <button data-toggle="modal" data-target="#exampleModal{{forloop.counter}}" type="button" class="btn btn-outline-success my-2 my-sm-0" >delete</button>
 
            <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal{{forloop.counter}}Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal{{forloop.counter}}Label">please confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Are you sure you want to delete this unfinished item?  {{Todolist.title}}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">canceal</button>
                    <form method="POST" action="{% url 'delete' Todolist.id %}">
                      {% csrf_token %}
                       <button type="submit" class="btn btn-primary">confirm</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tr>
      {% endif %}
 
    {% endfor %}
 
    </tbody>
</table>

{% endblock content %}
